<title>
    <%= view.appName%>
        <%= view?.pageTitle ? ` - ${view.pageTitle}` : '' %>
</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
<script src="/static/fontawesome/js/all.min.js" defer></script>