<script src="/static/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/static/js/vendor/Chart.bundle.min.js"></script>
<script src="/static/js/vendor/chartjs-plugin-datalabels.js"></script>
<script src="/static/js/vendor/moment.min.js"></script>
<script src="/static/js/vendor/fullcalendar.min.js"></script>
<script src="/static/js/vendor/datatables.min.js"></script>
<script src="/static/js/vendor/perfect-scrollbar.min.js"></script>
<script src="/static/js/vendor/progressbar.min.js"></script>
<script src="/static/js/vendor/jquery.barrating.min.js"></script>
<script src="/static/js/vendor/select2.full.js"></script>
<script src="/static/js/vendor/nouislider.min.js"></script>
<script src="/static/js/vendor/bootstrap-datepicker.js"></script>
<script src="/static/js/vendor/Sortable.js"></script>
<script src="/static/js/vendor/mousetrap.min.js"></script>
<script src="/static/js/vendor/glide.min.js"></script>
<script src="/static/js/dore.script.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/sweetalert.min.js"></script>

<script>
    const services = [];
    let products = [];
    let categories = [];

    $(document).ready(function() {
        // load categories;
        const categoriesContainer = document.querySelector('.categories-nav');
        categoriesContainer.innerHTML = '<a href="#"><button type="button" class="btn btn-primary btn-lg mb-1 text-center default categories selectedGet">All</button></a>';
        $.ajax({
            method: 'GET',
            url: '/categories/all',
            success: c => {
                categories = [...(c || [])];
                for (let cat of categories) {
                    categoriesContainer.innerHTML += `<a href="#"><button type="button" class="btn btn-primary btn-lg mb-1 text-center default categories selectedGet">${cat.name}</button></a>`;
                }
            }
        });

        const productsContainer = document.querySelector('#product-tabs');
        productsContainer.innerHTML = '';
        $.ajax({
            url: '/products/all',
            method: 'GET',
            success: p => {
                debugger;
                products = [...(p || [])];
                for (let product of products) {
                    let icon;
                    if (product.iconUrl) {
                        const type = product.iconUrl.split(':')[0];
                        if (type === 'iconsminds') {
                            icon = `<div style="font-size: 50px" class="glyph mr-1 mb-1"><i class="${product.iconUrl}"></i></div>`;
                        } else {
                            icon = `<div class="glyph mr-1 mb-1"><img style="width: 45px;" class="mt-3" src="/static/icons/${product.iconUrl}"></div>`;
                        }
                    } else {
                        icon = `<img class="mt-1 mb-1" src="/static/icons/pants.svg" width="70%">`;
                    }
                    productsContainer.innerHTML += `<a class="btn btn-light default mb-1 mr-1 addPct" style="width: 18.8%!important; border-top: 4px solid #138496;height:100px" id="PR00${product.id}" onclick="productSelect('${product.id}')"><div class="card-body" text-center p-1">${icon}<p class="card-text mb-2">${product.name}</p>`;
                }
            }
        })
    });
</script>